extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Learn on your schedule
    p.lead Study any topic, anytime. Choose from thousands of expert-led courses now.
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE





